.slider{
    position: relative;
    padding:60px 0;
    overflow: hidden;
    .container{
        overflow: hidden;
    }
    .wrapper{
        display: flex;
        width: max-content;
        transition:all .3s ease-in-out;
       
    }
    .prev,
    .next{
        position: absolute;
        top:0;
        bottom:0;
        margin: auto;
        font-size: 36px;
    }

    .prev{
        left:20px;
    }

    .next{
        right:20px;
    }

    .card{
        margin:0 15px;
        cursor: pointer;
    }
}